<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="stylesheets/home.css" defer>
  </head>
  <body>
    <div class="welcome">
      <h1>Welcome to Magic Matrix!</h1>
    </div>
    <div class="login">

    </div>
  </body>
</html>
